.App {
 background-color:#FFFFFF;

 height: 100vh;
 


}
.header{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-bottom: solid 1px black;
}
.main{
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 40vw;
  border-radius: 12px;
  border: solid 3px #E5203D;

}
.winners-sec{
  display: flex;
  flex-direction: column;

  align-items: center;
  gap:2%;
  
  width: 40vw;
}
.winner{
  display: flex;
  flex-direction: column;
  gap:0.2rem;
align-items: center ;
justify-content: center;
  height: 50px;
  width: 80%;
  background-color: #E5203D;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}
button{
  
  all: unset;
  cursor: pointer;
  background-color: #FFFFFF;
  border: solid 2px #E5203D;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  color: #E5203D;
  font-weight: 700;
}
button:hover{
  background-color: #E5203D;
  color: #FFFFFF;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #E5203D;
  border-color:#E5203D transparent #E5203D transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}